
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__listlogo">
            <a class="nav__listlogoname" routerLink="">leoncanare</a>
            <a class="nav__listlogoico" href="https://github.com/leoncanare" target="_blank" ><i class="fa-brands fa-github"></i></a>
        </li>
        
        <li class="nav__listitem drop"><i class="fa-solid fa-bars-progress"></i>
            <ul class="nav__listitemdrop">
                <li  id="displayHide" 
                    class="list-item" 
                    routerLink="displayHide"
                    routerLinkActive="active">
                    <a class="dropdown-item">01. Display Hide</a>
                </li>
                <hr>
                <li id="compCom" 
                    class="list-item" 
                    routerLink="componentComunication"
                    routerLinkActive="active">
                    <a class="dropdown-item" >02. Component Comunication</a>
                </li>
                <hr>
                <li id="" 
                    class="list-item" 
                    routerLink="trafficLight">
                    <a class="dropdown-item" >03. Traffic Light</a>
                </li>
                <hr>
                <li id="" 
                    class="list-item" 
                    routerLink="externalLibrary">
                    <a class="dropdown-item" >04. External Library</a>
                </li>
                <hr>
                <li id="" 
                    class="list-item" 
                    routerLink="crud">
                    <a class="dropdown-item" >05. Crud</a>
                </li>
            </ul>
        </li>
        <li class="nav__listitem home" routerLink=""><i class="fa-solid fa-house"></i></li>
        
    </ul>
</nav>

