//font-family: 'Work Sans', sans-serif;
//font-family: 'Ubuntu', sans-serif;
/*   color variables */

$white-text: white;
$grey-sdw: #b3b5b9;
$grey-principal: #b3b5b9;
$grey-text: #d2d4da;
$grey-navbar: rgba(128, 128, 128, 0.212);
$grey-title: #d8dfe5;
$black-sdw: #00000069;
$red-principal: #790000;
$red-background: #8b0000c0;
$red-hover: #0000007c;

body{
display:flex;
flex-direction: column;
align-items: center;
font-family: 'Work Sans', sans-serif;
}

.background-img {
    background-image: url(../../../../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    clip-path: inset(0 0 0 0);
}

.overlay {
    height: 100%;
    width: 100%;
    position: relative;
    background: $red-background;
    overflow: auto;
}

.container {
    padding-top: 150px;
}

.titlecontainer {
    text-align: center;
    letter-spacing: 0.1rem;
    &__title{
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.5rem;
        color: $grey-title;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212), 0 0 1em rgba(255, 254, 254, 0.425), 0 0 0.2em rgba(0, 0, 0, 0.856);
        letter-spacing: 0.3rem;
    }
    &__description{
        margin-top: 3rem;
        padding: 0 20% 0 20%;
        font-size: 1.5rem;
        color: $grey-text;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
}

.imgcontainer{
    padding: 0 0 2% 0;
    height: 100%;

    &__image{
        max-width: 100%;
        display: block;
        margin: auto;
        //clip-path: inset(13% 0 0 0);
    }
    &__imge-link{
        //margin-top: 1%;
        font-style: none;
        font-size:x-small;
        text-align: center;
        color: $grey-sdw;
        a {
            color: $grey-sdw;
        }
    }
}