<body>
  <div class="container__parentchild">
    <h3 class="container__parent_title">CHILD</h3>
    <p class="container__parent_message">
      Message :
      <span class="container__parent_messageresponse">
        {{ messageFromParent }}
      </span>
    </p>
    <div class="button_container">
      <button class="button" type="button" (click)="sendToParentService()">
        USE SERVICE
      </button>
      <button class="button" type="button" (click)="sendToParentOutPut()">
        USE OUTPUT EVENT
      </button>
      <button class="button" type="button" (click)="sendObservableToParent()">
        USE OBSERVABLE
      </button>
    </div>
  </div>
</body>
