/*   color variables */
$white-text: white;
$red-principal: #a43b3b;
$blue-text: #18323d;


table {
  width: 100%;
}

#title {
  font-size: 1rem;
  font-weight: 500;
  color: $blue-text;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#pencil {
  color: $blue-text;
}

#susbs {
  padding-left: 2rem;
  color: rgb(0, 165, 0);
}

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }