<h2>Template: Dinámicos</h2>
<hr />
<form (ngSubmit)="guardar()" #dinFormulario="ngForm" autocomplete="off">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        type="text"
        [ngModel]="persona.nombre"
        name="nombre"
        placeholder="Nombre de la persona"
        required
      />
      <span *ngIf="nombreValido()" class="form-text text-danger">
        Este campo es obligatorio.
      </span>
    </div>
  </div>
  <!-- Agregar -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          placeholder="Agregar favorito"
          [(ngModel)]="nuevoJuego"
          (keyup)="agregarJuego()"
          name="nuevojuego"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarJuego()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
  <!-- Lista -->
  <!-- [INFO] NgModel controla lo que se escribe en el input y actualiza el campo al que nos referimos de forma inmediata con los []-> nos referimos a la variable con ()-> indicamos que la emita y actualice. -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-2"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          [(ngModel)]="juego.nombre"
          name="favorito_{{ i }}"
          class="form-control"
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="eliminar(i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        [disabled]="dinFormulario.invalid"
        class="btn btn-primary float-end"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
<span>Persona</span>
<pre>{{ persona | json }}</pre>
